*{
   margin: 0;
   padding: 0;
}
 body{
    background-color: rgb(212, 252, 253);
 }
   

.logo{
   display: flex; 
   justify-content: center;
   align-items: center;
   
}
.logo img{
   width: 100px;
   border-radius: 50px;
   margin-right: 128px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: right;
     
}
.nav-list li{
     list-style: none;
     padding: 33px;
}

.nav-list li a{
     color: white;
     text-decoration:none ;
    
   
}
.nav-list li a:hover{
     color: red;
}

.background{
    background: rgba(0,0, 0, 0.7) url("p6.jpg");
    background-size: cover;
    background-blend-mode: darken;

}
.firstsection{
    height: 85vh;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
    height:80% ;

}
 
.textbig{
   
    font-size: 50px;
    text-transform: capitalize;
    
}
.textsmall{
   
    font-size: 20px;
    text-transform: capitalize;
    
}
.btn{
    
    background-color: red;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    
   
}
.secright{
    max-width: 80%;
    margin: auto;
    background-color: rgb(212, 252, 253);

}
.sectionTag{
     font-size: 35px;
     font-weight: 800;
     margin-top: 10px;
     margin-bottom: 10px;
}
.sectionsubTag{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
.image img{
    width: 800px;
   
}

.text-footer{
    color: white;
    background-color: rgb(54, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin-top: 10px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

